.mainnav {
  margin: 1rem auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
}

.mainnav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.mainnav ul ul {
  flex-direction: column;
}

.mainnav li {
  list-style-type: none;
}

.mainnav a {
  padding: 0.3rem 1rem;
  display: block;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0);
}

.mainnav a:hover,
.mainnav a:focus {
  border-color: hsla(0, 0%, 100%, 1);
}
